<!DOCTYPE html>
<html lang="en">
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114546832-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-114546832-2');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <!--
     manifest.json provides metadata used when your web app is added to the
     homescreen on Android. See https://developers.google.com/web/fundamentals/engage-and-retain/web-app-manifest/
     -->
    <!-- Font Family -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <title>Base</title>
</head>
<body>
<noscript>
    You need to enable JavaScript to run this app.
</noscript>
<div id="root">
    <div class="container">
        <div class="row" style="margin-top: 15px; text-align: center">
            <div class="col-4" style="text-align: left">
                <a href="#" data-toggle="modal" data-target="#myModal"><img src="../img/icons/turbodl.net.png" alt="" style="height: 46px"></a>
                <!--<a href="https://facebook.com"><img src="../img/icons/Facebook.png" alt="" style="height: 46px"></a>-->
            </div>
            <div class="col-4">
                <!--<a href="https://turbodl.net"><img src="../img/icons/turbodl.net.png" alt="" style="height: 46px"></a>-->

                <!--<a href="https://twitter.com"><img src="../img/icons/Twitter.png" alt="" style="height: 46px"></a>-->
            </div>
            <div class="col-4" style="text-align: left">
            </div>
        </div>
        <!-- The Modal -->
        <div class="modal fade" id="myModal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <!--<div class="modal-header">-->
                        <!--<h4 class="modal-title">Modal Heading</h4>-->
                        <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                    <!--</div>-->

                    <!-- Modal body -->
                    <div class="modal-body">
                        The website that you are about to visit is not hosted by Turbodl
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <a href="<%= link %>" class="btn btn-secondary">OK</a>
                    </div>

                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 30px">
            <div class="col-12">
                <h3 style="font-size: 16px; font-weight: bold">APP VERSION 2.0 IS COMING SOON</h3>

                If you already purchased the Pro version, you can play the version 2.0 even before it’s released.
                <br>
                Just send the screenshot of MORE screen to <a href="mailto:turbodlpro@gmail.com">turbodlpro@gmail.com</a>
            </div>
        </div>
    </div>
</div>
<!--
 This HTML file is a template.
 If you open it directly in the browser, you will see an empty page.

 You can add webfonts, meta tags, or analytics to this file.
 The build step will place the bundled scripts into the <body> tag.

 To begin the development, run `npm start` or `yarn start`.
 To create a production bundle, use `npm run build` or `yarn build`.
 -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
<!--        <script src="%PUBLIC_URL%/assets/js/owl.carousel.min.js"></script>-->

</body>
</html>
