<style type="text/css">
    @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700');

    p, h1, h2, h3 {
        font-family: 'Source Sans Pro', sans-serif;
    }
</style>
<div link="#c6d4df" alink="#c6d4df" vlink="#c6d4df" text="#c6d4df"
     style="font-family:Helvetica,Arial,sans-serif;font-size:14px;color:#c6d4df;background-color: #f5f6f6">
    <table style="width:751px;padding-top: 96px" align="center" cellspacing="0" cellpadding="0">
        <tbody>
        <tr>
            <td style="background-color:white;">
                <img src="https://i.imgur.com/I9RK8ev.png" width="auto" height="101" alt="Protector" class="CToWUd"
                     style="padding-top:63px; padding-left: 66px">
            </td>
        </tr>
        <tr>
            <td bgcolor="white">`
                <table width="751" border="0" align="center" cellpadding="0" cellspacing="0"
                       style="padding-left:5px;padding-right:5px;padding-bottom:10px">
                    <tbody>
                    <tr>
                        <td style="">
                            <!--<img src="https://i.imgur.com/2BxgcI4.png" width="auto" height="47" alt="Protector"-->
                            <!--class="CToWUd" style="padding-left: 62px">-->
                            <p style="object-fit: contain;
                                      font-size: 36px;
                                      font-weight: 300;
                                      font-style: normal;
                                      font-stretch: normal;
                                      line-height: 1.5;
                                      letter-spacing: -1px;
                                      margin-top: 10px;
                                      margin-bottom: 0;
                                      padding-left: 62px;
                                      color: #4a4a4a;
                                      text-align: left;">Hello,</p>

                        </td>
                    </tr>

                    <tr>
                        <td style="">
                            <!--<img src="https://i.imgur.com/m4e5L0I.png" width="auto" height="70" alt="Protector"-->
                            <!--class="CToWUd" style="padding-left: 62px">-->
                            <p style="object-fit: contain;
                                      font-size: 22px;
                                      font-weight: normal;
                                      font-style: normal;
                                      font-stretch: normal;
                                      line-height: 1.82;
                                      letter-spacing: normal;
                                      text-align: left;
                                      padding-left: 62px;
                                      margin-bottom: 0;
                                      color: #4a4a4a;
                                      ">Welcome to Protector!
                                <br>
                                <br>
                                Thank you for joining us. We hope you could have great time ahead <br> with our signature features:</p>
                        </td>
                    </tr>


                    <tr>
                       <td>
                           <div style="text-align: center">
                               <img src="https://i.imgur.com/QXvvDPX.png" alt="">
                               <p>Multi-layer security: App lock, album <br> lock, in-app authentication.</p>
                           </div>
                       </td>
                    </tr>

                    <tr>
                        <td style="padding-top:17px; padding-bottom: 60px">
                            <!--<img src="https://i.imgur.com/lKMXhCu.png" width="auto" height="155" alt="Protector"-->
                            <!--class="CToWUd" style="padding-left: 62px">-->
                            <p style="object-fit: contain;
                                      font-size: 22px;
                                      font-weight: normal;
                                      font-style: normal;
                                      font-stretch: normal;
                                      line-height: 1.82;
                                      letter-spacing: normal;
                                      text-align: left;
                                      padding-left: 62px;
                                      margin-bottom: 0;
                                      color: #4a4a4a;
                                      ">If you did not make this request, just ignore this email.
                                <br>
                                <br>
                                Best regards,
                                <br>
                                The Protector Team</p>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </td>
        </tr>

        </tbody>
    </table>
    <table style="width:751px" align="center" cellspacing="0" cellpadding="0">
        <tbody>
        <tr>
            <td>
                <img src="https://i.imgur.com/5p6JsE3.png" width="auto" height="47px" alt="Protector" class="CToWUd"
                     style="padding-top:41px;padding-bottom: 37px;display: block; margin:auto">
            </td>
        </tr>
        <tr>
            <td>
                <div style="padding-bottom: 95px; text-align: center">
                    <img src="https://i.imgur.com/hn2cdyc.png" width="auto" height="auto" alt="Protector" class="CToWUd"
                         style="margin-right: 48px;"
                    >
                    <img src="https://i.imgur.com/zjtkK68.png" width="auto" height="auto" alt="Protector" class="CToWUd"
                         style="margin-right: 48px;"
                    >
                    <img src="https://i.imgur.com/qxXZdVJ.png" width="auto" height="auto" alt="Protector" class="CToWUd"
                         style="margin-right: 48px;"
                    >
                    <img src="https://i.imgur.com/IDNAe2T.png" width="auto" height="auto" alt="Protector" class="CToWUd"
                    >
                </div>

            </td>
        </tr>


        </tbody>
    </table>

</div>
